<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <div class="container">
    <h1 class="page-title" id="confirm-delete-title">Confirm Delete?</h1>
    <h2>ARE YOU SURE?</h2>
    <img src="<%=nomination.nominee.poster%>"/>
    <% let formattedDate = nomination.screening.date.toString().slice(3,15) %>
    <h3>Clicking confirm will remove <%=nomination.nominee.title%> from the list of nominations for the <%=formattedDate%> screening!</h3>
    <h3>
      <a href="/nominations/<%=nomination._id%>/edit"><button class="btn">Go Back</button></a>
    </h3>
    <form action="/nominations/<%=nomination._id%>?_method=DELETE" method="POST" class="show-form">
      <button type="submit" class="btn delete-btn">Confirm Delete of <%=nomination.nominee.title%>, removing it from the list of nominees for screening #<%=nomination.screening.weekID%> | <%=nomination.screening.date.toString().slice(3,15)%></button>
    </form>
  </div>


</body>
<%- include('../partials/script.ejs') %>
</html>