<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs')%>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs')%>
  </header>
  <h1 class="page-title">Enter New Nomination</h1>
  <form action="/nominations/initial-info" method="POST" id="new-form">
    <table>
        <tr>
            <td class="info-start-text"><span class="red">* </span>Person Submitting Nomination: </td>
            <td class="new-data-text">
              <select name="nominator" required>
                  <option value="" disabled selected>--Choose nominator--</option>
                <% for (let nominator of nominators) { %> 
                  <option value="<%=nominator%>"><%=nominator%></option>
                <% } %>
              </select>
            </td>
        </tr>
        <tr>
            <td class="info-start-text"><span class="red">* </span>Nominating for Screening Date: </td>
            <td class="new-data-text">
              <select name="screening" id="screening" required>
                <% for (let screening of screenings.reverse()) { %> 
                  <option value="<%=screening.weekID%>"><%=screening.weekID%> | <%=screening.date.toString().slice(3,15)%></option>
                <% } %>
              </select>
            </td>
        </tr>
        <!-- <tr>
          <td class="new-nomination-note" colspan="2">NOTE: Eventually, the site will handle attempts to add an already-added movie. But for now please select "CHECK DATABASE" first, to see if the movie you wish to nominate is in the FFS database of unscreened movies. You will see the list on the following page. If your choice is not already in that list, return to this page and select "NEW MOVIE" to enter the new movie into the database.</td>
        </tr> -->
        <tr>
            <td class="info-start-text"><span class="red">* </span>Film nominated: </td>
            <td class="new-data-text">
              <input type="radio" name="nomination_type" id="prev-nomination" value="prev_nomination" checked/>
              <label for="prev-nomination">CHECK DATABASE (Choose unscreened movie from FFS database)</label>
              <br/>
              <input type="radio" name="nomination_type" id="new-nomination" value="new_nomination"/>
              <label for="new-nomination">NEW MOVIE (Nominate a movie not in the database, thereby also adding it to the FFS database)</label>
            </td>
        </tr>
    </table>
    <input type="submit" id="create-btn" value="Next">
    </form>
</body>

</html>
