<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs')%>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs')%>
  </header>
  <div class="card show-card">
    <h1 class="page-title">FFS Nomination</h1>
    <img src="<%=nomination.nominee.poster%>" alt="poster for <%=nomination.nominee.title%>"><br/>
    <h1 class="data-title nomination-bgcolor">Nomination Info</h1>
    <table class="nomination-show-table">
      <tr>
        <td colspan="2">
          <% if (nomination.winner) { %><h3 class="winning-nom-text"> ⭐ Winning Nomination ⭐</h3><% } %>
        </td>
      </tr>
      <tr>
        <td class="info-start-text">Movie Nominated: </td>
        <td class="info-data-text nominee"><a href="/movies/<%=nomination.nominee._id%>"><%=nomination.nominee.title.toUpperCase()%></a></td>
      </tr>
      <tr>
        <td class="info-start-text">Nominated for Screening Date:</td>
        <% let formattedDate = nomination.screening.date.toString().slice(3,15) %> 
        <td class="info-data-text"><a href="/screenings/<%=nomination.screening._id%>"><%=nomination.screening.weekID%> | <%=formattedDate%></a></td>
      </tr>
      <tr>
        <td class="info-start-text">Nominated By:</td>
        <td class="info-data-text nominator"><%=nomination.nominator%></td>
      </tr>
      <tr>
        <td class="info-start-text">Comments:</td>
        <td class="info-data-text"><%=nomination.blurb%></td>
      </tr>

    </table>
    <h3>
      <a href="/nominations/<%=nomination._id%>/edit"><button class="btn edit-btn">Edit nomination Details</button></a>
    </h3>
    
    <form action="/nominations/<%=nomination._id%>/confirm-delete" class="show-form">
      <input type="submit" class='btn delete-btn' value="DELETE nomination from database">
    </form>
  </div>
</body>
<%- include('../partials/script.ejs') %>
</html>