<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <header><%- include('../partials/header.ejs')%></header>
    <h1 class="page-title" id="home-title">
      Fortnightly Film Society Screenings
    </h1>
    <h2>Click on a screening to see/edit its details</h2>
    <h3 class="blurb">
      Major flops, sci-fi shlock, video game adaptations, high camp, oddball
      curiosities of cinema, or just plain "dumb" movies... The Fortnightly Film
      Society has screened them all!
    </h3>

    <h1>FFS Screenings</h1>
    <div class="flex-container screenings-table">
      <table>
        <thead>
          <tr>
            <th class="non-mobile">Screening #</th>
            <th>Date</th>
            <th>Poster</th>
            <th>Selection</th>
            <th class="non-mobile">Comments</th>
            <th>Nominees</th>
          </tr>
        </thead>
        <tbody>
          <% for (let screening of screenings) { %>
          <tr>
            <td class="non-mobile"><%=screening.weekID%></td>
            <td class="screening-date">
              <a href="/screenings/<%=screening._id%>"
                ><%=screening.date.toString().slice(3,15)%></a
              >
            </td>
            <% if(screening.selection) { %>
              <td>
                <img
                src="<%=screening.selection.poster%>"
                alt="pic of <%=screening.selection.title%>"
                />
              </td>
              <td class="selection-title">
                <a href="/movies/<%=screening.selection._id%>"
                  ><%=screening.selection.title%></a
                  >
              </td>
            <% } else { %>
              <td>Selection not yet made</td>
              <td>Selection not yet made</td>
            <% } %>
            <td>
              <% for (let nom of screening.nominations) { %> 
                <% if (nom.winner) { %> 
                  ⭐️
                <% } %>
                <a class="nom-link" href="/nominations/<%=nom._id%>"><%=nom.nominee.title%></a><br/>
              <% } %>
            </td>
            <td class="non-mobile"><%=screening.notes%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
