<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs')%>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs')%>
  </header>
  <h1 class="page-title">Enter New Movie</h1>
  <form action="/screenings" method="POST" id="new-form">
    <table>
      <tr>
        <td class="info-start-text">Screening # / Date: </td>
        <td class="new-data-text">
            <select>
                <% for (let week of weeks) { 
                    let date = new Date(week)
                    let month = date.getMonth()
                    const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                    let year = date.getFullYear()
                    let day = date.getDate()
                    %>
                    <option><%=weeks.length - weeks.indexOf(week)%>. <%=months[month]%> <%=day%>, <%=year%></option>
                <% } %>
            </select>
        </td>
      </tr>
      <tr>
        <td class="info-start-text">Date Screened: </td>
        <td class="new-data-text"><input type="date" name="dateScreened"></td>
      </tr>
      <tr>
        <td class="info-start-text">Release Year: </td>
        <td class="new-data-text"><input type="text" name="year" placeholder="Year" size="4"></td>
      </tr>
      <tr>
        <td class="info-start-text">Director: </td>
        <td class="new-data-text"><input type="text" name="director" placeholder="Director name" size="30"></td>
      </tr>
      <tr>
        <td class="info-start-text">Cast Members: </td>
        <td class="new-data-text"><textarea name="cast" rows=4 cols=50 placeholder="Cast members, comma separated"></textarea></td>
      </tr>
      <tr>
        <td class="info-start-text">Poster Image: </td>
        <td class="new-data-text"><input type="url" name="poster" placeholder="Paste poster image url here" size="80"></td>
      </tr>
    </table>
    <input type="submit" id="create-btn" value="Add new movie with this data">
  </form>
</body>
</html>