<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs') %>
  </header>
  <div class="container">
    <h1 class="page-title" id="confirm-delete-title">Confirm Delete?d</h1>
    <h2>ARE YOU SURE?</h2>
    <img src="<%=movie.poster%>"/>
    <% let formattedDate = movie.dateScreened.toString().slice(3,15) %>
    <h3>Clicking confirm will remove the record for the <%=formattedDate%> viewing of <%=movie.title%> from the database!</h3>
    <h3>
      <a href="/movies/<%=movie._id%>"><button class="btn">Go Back</button></a>
    </h3>
    <form action="/movies/<%=movie._id%>?_method=DELETE" method="POST" class="show-form">
      <button type="submit" class="btn delete-btn">Confirm Delete of <%=movie.title%></button>
    </form>
  </div>


</body>
</html>