<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs')%>
  </header>
  <h1 class="page-title" id="home-title">Fortnightly Film Society Movies</h1>
  <h2>Click on a movie to see/edit its details</h2>
  <h3 class="blurb">Major flops, sci-fi shlock, video game adaptations, high camp, oddball curiosities of cinema, or just plain "dumb" movies... The Fortnightly Film Society has screened them all!</h3>
  <% if (movies.length === 0) { %>
    <h2 class="no-results-text">Your search returned zero results. Currently the search bar only works when entering full movie titles spelled correctly. Go back to the <a href="/movies">home page</a> to see the full list of movies.</h2>
  <% } %>
  <form action="/movies/sort" id="sort-box" method="POST">
    <h2 id="sort-header">Sort options (very much in beta testing):</h2>
    <input type="radio" id="sort-by-title" name="sortChoice" value="title">
    <label for="sort-by-title">Title</label><br/>

    <!-- <input type="radio" id="sort-by-screen-date" name="sortChoice" value="dateScreened">
    <label for="sort-by-screen-date">Date of Screening</label><br/>  -->
    <!-- (because dates are strings, this currently sorts "correctly" but not by actual dates) -->
    <input type="radio" id="sort-by-director" name="sortChoice" value="director">
    <label for="sort-by-director">Director (sorts by last name)</label><br/>

    <input type="radio" id="sort-by-year" name="sortChoice" value="year"> 
    <label for="sort-by-year">Year of Release</label><br/>

    <input type="radio" id="sort-by-top-billing" name="sortChoice" value="cast">
    <label for="sort-by-top-billing">Actor with top billing (sorts by last name)</label><br/>
    <input type="submit" name="sortDatabase" id="sort-database-btn" value="Sort">
  </form>

  <div class="flex-container">
    <% for (let movie of movies) { %> 
      <a href="/movies/<%=movie.id%>" class="card-link">
        <div class="card">
          <img src="<%=movie.poster%>" alt="pic of <%=movie.title%>">
          <h3><%=movie.title%></h3>
          <h4>Date screened: <%=movie.dateScreened%></h4>
        </div>
      </a>
    <% } %>
  </div>
</body>
</html>