<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs')%>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs')%>
  </header>
  <h1 class="page-title" id="home-title">Fortnightly Film Society Database of Considered Movies</h1>
  <h2>Click on a movie to see/edit its details</h2>
  <h3 class="blurb">This area of the site houses all movies that have been screened, nominated, or publicly considered as potential nominations by FFS membership. FFS screening selections are noted with stars.</h3>
  <% if (movies.length === 0) { %>
    <h2 class="no-results-text">Your search returned zero results. Currently the search bar only works when entering full movie titles spelled correctly. Go back to the <a href="/movies">home page</a> to see the full list of movies.</h2>
  <% } %>
  <form action="/movies/sort" id="sort-box" method="POST">
    <h2 id="sort-header">Sort options (Needs attention; refined options hopefully available in a future update):</h2>

    <input type="radio" id="sort-by-title" name="sortChoice" value="title">
    <label for="sort-by-title">Title</label><br/>
    
    <input type="radio" id="sort-by-director" name="sortChoice" value="director">
    <label for="sort-by-director">Director (sorts by last name)</label><br/>

    <input type="radio" id="sort-by-year" name="sortChoice" value="year"> 
    <label for="sort-by-year">Year of Release</label><br/>

    <input type="radio" id="sort-by-top-billing" name="sortChoice" value="cast">
    <label for="sort-by-top-billing">Actor with top billing (sorts by last name)</label><br/>
    <input type="submit" name="sortDatabase" id="sort-database-btn" value="Sort">
  </form>

  <div class="flex-container movies-container">
    <% for (let movie of movies) { %>
      <a href="/movies/<%=movie._id%>" class="card-link">
        <div class="card movie-card">
          <span><%=movies.indexOf(movie) + 1%></span>
          <% if (movie.screened) { %>
          <h3 class="winner-text">⭐ FFS Selection ⭐</h3>
          <% } %>
          <img src="<%=movie.poster%>" loading="lazy" alt="<%=movie.title%> poster">
          <h3 class="movie-title"><%=movie.title%></h3>
        </div>
      </a>
    <% } %>
  </div>
</body>
  <%- include('../partials/script.ejs') %>
</html>